<div>
  ※リレー小説＝複数人が書き手となり、順番に物語を記述して作られる小説のこと<br>
  <br>
  例えば、<br>
  <b>「もしも桃太郎がコンビニ店員だったら？」</b><br>
  <b>「もしもネコがこの世界の支配者だったら？」</b><br>
  のように自由にタイトルを決め、気軽にリレー小説を楽しみましょう。<br>
<br>
誰かの書いた一文がその後の展開にどう影響していくのか、完結するまでわかりません。<br>
思いもしなかった展開を楽しみましょう。<br>
</div>